        body, html {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
            box-sizing: border-box;
        }

        .container-fluid {
            width: 100%;
            padding: 15px;
        }

        .container {
            max-width: 1100px;
            margin: 0 auto;
            padding: 15px;
        }

        .main {
            padding: 15px;
        }

        .login-container {
            background-color: #FFF;
            margin: 40px auto;
            border-radius: 25px;
            overflow: hidden;
            position: relative;
            box-shadow: 0px 0px 72px -10px rgba(0, 0, 0, 0.44);
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .login-container .icon {
            display: flex;
            flex-wrap: wrap;
        }

        .login-container .icon .img-box {
            background: linear-gradient(0.75turn, #95D2EC, #ffffff);
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            padding: 15px;
        }

        .login-container .icon .img-box img {
            width: 100%;
            height: auto;
            border-bottom-left-radius: 25px;
        }

        .log {
            padding: 40px;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .roboto-serif-heading {
            font-family: 'Roboto Serif', Arial, Helvetica, sans-serif;
            font-weight: 800;
            font-size: 48px;
            font-style: normal;
            margin-bottom: 10px;
            text-align: center;
        }

        .text-box-cont {
            width: 100%;
            max-width: 400px;
        }

        .input-group {
            margin-bottom: 20px;
            width: 100%;
            position: relative;
        }

        .input-group input {
            width: calc(100% - 30px);
            margin-left: 15px;
            padding: 12px 15px;
            border-radius: 30px;
            border: 1px solid #ccc;
            transition: border-color 0.3s, box-shadow 0.3s;
            font-size: 16px;
            outline: none;
        }

        .input-group input:focus {
            border-color: #5479F7;
            box-shadow: 0 0 8px rgba(84, 121, 247, 0.3);
        }

        .input-group label {
            display: block;
            margin-left: 15px;
            margin-bottom: 5px;
            font-size: 14px;
            color: #555;
        }

        .input-group .btn {
            display: block;

            margin: 0 auto;
            padding: 10px 30px;
            border-radius: 50px;
            background-color: #95D2EC;
            font-weight: 600;
            font-size: 20px;
            text-align: center;
            cursor: pointer;
            border: none;
            color: #fff;
            transition: background-color 0.3s, box-shadow 0.3s;
        }

        .input-group .btn:hover {
            background-color: #74b7e2;
            box-shadow: 0 0 8px rgba(116, 183, 226, 0.3);
        }

        .no-acc {
            margin-top: 10px;
            font-size: 0.9rem;
            text-align: center;
        }

        .no-acc span {
            color: #5479F7;
            font-weight: 600;
            margin-left: 5px;
            cursor: pointer;
        }

        .agent {
            font-size: 18px;
            border-top: 1px solid #cccccc73;
            padding-top: 20px;
            margin-bottom: 5px;
            text-align: center;
        }

        .estate a {
            color: #5479F7;
            font-weight: 600;
            font-size: 15px;
            text-align: center;
            display: block;
        }

        @media screen and (max-width: 991px) {
            .main {
                padding: 15px;
            }
        }

        @media screen and (max-width: 575px) {
            .login-container {
                margin-top: 0px;
            }
        }

        @media screen and (max-width: 1096px) {
            .login-container {
                margin-bottom: 40px;
                margin-top: 40px;
            }
        }

        @media screen and (max-width: 767px) {
            .login-container .icon .img-box img {
                border-bottom-left-radius: 25px;
            }
        }