{% extends 'base.html' %}
{% block content %}
<style>
  textarea {
    width: 100%;
    height: 6.25em;
    resize: none;
  }

  form {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  input[type="text"], input[type="number"], textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }



  #formError {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
  }
    .image-wrapper {
        display: inline-block;
        margin: 10px;
        position: relative;
    }
    .image-preview {
        max-width: 100px;
        max-height: 100px;
        border-radius: 5px;
    }
    .image-wrapper button {
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: red;
        color: white;
        border: none;
        border-radius: 50%;
        cursor: pointer;
    }
</style>
<div>
    <h1>Edit Property Listing</h1>
    <form id="editPropertyForm" method="POST" data-id="{{ propertyListing.id }}">
        {{ form.csrf_token }}

        <div>
            <label for="subject">Subject</label>
            <input type="text"  name="subject" id="subject"
                   value="{{ form.subject.data or '' }}">
        </div>
        <br><br>
        <div>
            <label for="existing-images">Existing Images</label>
            <div id="existing-images">
                {% for file in images %}
                <div class="image-wrapper" id="image-{{ loop.index }}">
                    <img src="{{ url_for('static', filename='images/property_listings/' + file) }}" alt="Property Image" class="image-preview">
                    <button type="button" onclick="removeImage({{ loop.index }})">Remove</button>
                    <input type="hidden" name="existing_images" value="{{ file }}">
                </div>
                {% endfor %}
            </div>
         </div>
        <br><br>
        <div>
            <label for="images">Upload New Images</label>
            <input type="file" name="images" id="images" multiple>
        </div>
        <br><br>

        <div class="mb-3">
            <label for="content">Property Listing Description</label>
            <textarea name="content" id="content" rows="10">{{ form.content.data or '' }}</textarea>
        </div>
		<div>
            <label for="price">Price</label>
            <input type="number" name="price" id="price" value="{{ form.price.data or '' }}">
        </div>
		<div>
            <label for="address">Address</label>
            <input type="text" name="address" id="address" value="{{ form.address.data or '' }}">
        </div>
		<div>
            <label for="floorSize">Floor Size</label>
            <input type="number" name="floorSize"
                      id="floorSize" value="{{ form.floorSize.data or '' }}">
        </div>

		<div>
            <label for="floorLevel">Floor Level</label>
                <select name="floorLevel" id="floorLevel">
                    {% for value, label in form.floorLevel.choices %}
                        <option value="{{ value }}" {% if form.floorLevel.data == value %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
        </div>

		<div>
            <label for="propertyType">Property type</label>
                <select name="propertyType" id="propertyType" required>
                    {% for value, label in form.propertyType.choices %}
                        <option value="{{ value }}" {% if form.propertyType.data == value %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
        </div>

        	<div>
            <label>Furnishing</label>
                <select name="furnishing" id="furnishing">
                    {% for value, label in form.furnishing.choices %}
                        <option value="{{ value }}" {% if form.furnishing.data == value %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
        </div>

        <div>
            <label for="builtYear">Built year</label>
            <input type="number" name="builtYear"
                      id="builtYear" value="{{ form.builtYear.data or '' }}">
        </div>

        <div>
            <label for="client_id">Client</label>
            <input type="text" name="client_id"
                      id="client_id" value="{{ form.client_id.data or '' }}">
            <div id="formError" style="color: red; display: none;"></div>
        </div>
<br>
        <div>
            <label for="transaction-status">Transaction Status</label>
            <div>
                <input type="radio" id="transaction_in_progress" name="is_sold" value="false" {% if not form.is_sold.data %}checked{% endif %}>
                <label for="transaction_in_progress">On Sale</label>
            </div>
            <div>
                <input type="radio" id="transaction_completed" name="is_sold" value="true" {% if form.is_sold.data %}checked{% endif %}>
                <label for="transaction_completed">Sold</label>
            </div>
        </div>


        <button>Submit</button>
    </form>
</div>

<script>
    function removeImage(index) {
        document.getElementById('image-' + index).remove();
    }

</script>
<script>
        document.getElementById('editPropertyForm').addEventListener('submit', async (e) => {
            e.preventDefault();
            const formData = new FormData(e.target);
            const listing_id = e.target.getAttribute('data-id')
            const url = '/propertyListing/edit/' + listing_id + '/';

            const response = await fetch(url, {
                method: 'POST',
                body: formData
            });
            const data = await response.json();
            if (data.success) {
                alert(data.message);
                window.location.href = `/propertyListing/detail/` + listing_id + '/';
            } else {
                alert(data.error);
            }
        });

</script>

{% endblock %}