{% extends "base.html" %}
{% block content %}
  <h1 class="title"> Property Listing History</h1>

<div class="container">
    <div class="table-responsive">
        <table class="table table-hover table-bordered mx-auto text-center">
            <thead class="thead-light">
                <tr class="text-center">
                    <th style="width:50%">Subject</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
            {% for propertyListing in agent_listings %}
            <tr class="text-center">
                <td>
                    <span class="property-link" onclick="window.location.href = '/propertyListing/detail/{{propertyListing.id}}'">
                        {{ propertyListing.subject }}
                    </span>
                </td>
                {% if propertyListing.modify_date %}
                <td>{{ propertyListing.modify_date.strftime('%Y-%m-%d') }}</td>
                {% else %}
                <td>{{ propertyListing.create_date.strftime('%Y-%m-%d') }}</td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<style>
  .title {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 40px;
    font-family: 'Arial', sans-serif;
    color: #333;
  }
  .container {
    max-width: 900px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-left: 250px;
  }

  .table-responsive {
    display: flex;
    justify-content: center;
  }

  .table {
    margin-top: 20px;
    background-color: #fff;
    width: 100%;
  }

  .table-hover tbody tr:hover {
    background-color: #f1f1f1;
  }

  .thead-light th {
    background-color: #e9ecef;
    border-bottom: 2px solid #dee2e6;
  }

  .property-link {
    cursor: pointer;
    color: #007bff;
    font-weight: bold;
  }

  .property-link:hover {
    text-decoration: underline;
  }

  .text-center {
    text-align: center;
  }
</style>

{% endblock %}